<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Berry Shop</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Roboto:wght@500;700&display=swap"
          rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!-- Libraries Stylesheet -->

    <link href="~/Content/animate/animate.min.css" rel="stylesheet" />
    <link href="~/Scripts/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <!-- Template Stylesheet -->
    <link href="~/Content/style.css" rel="stylesheet" />
    @RenderSection("embeddedCss", required: false)
    @RenderSection("css", required: false)
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner"
         class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0 px-4 px-lg-5">
        <a href="@Url.Action("Index", "Home")" class="navbar-brand d-flex align-items-center">
            <h2 class="m-0 text-primary">
                <img class="img-fluid me-2" src="img/icon-1.png" alt=""
                     style="width: 45px;">Berry Shop
            </h2>
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav py-4 py-lg-0 d-flex align-items-start">
                @*<a href="index.html" class="nav-item nav-link active">Home</a>
                    <a href="about.html" class="nav-item nav-link">About</a>
                    <a href="service.html" class="nav-item nav-link">Service</a>
                    <a href="roadmap.html" class="nav-item nav-link">Roadmap</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                        <div class="dropdown-menu shadow-sm m-0">
                            <a href="feature.html" class="dropdown-item">Feature</a>
                            <a href="token.html" class="dropdown-item">Token Sale</a>
                            <a href="faq.html" class="dropdown-item">FAQs</a>
                            <a href="404.html" class="dropdown-item">404 Page</a>
                        </div>
                    </div>
                    <a href="contact.html" class="nav-item nav-link">Contact</a>*@
                <div class="d-flex " >
                    <a class="btn btn-square rounded-circle bg-light text-primary me-2" href="">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="btn btn-square rounded-circle bg-light text-primary me-2" href="">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="btn btn-square rounded-circle bg-light text-primary me-0" href="">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
                
            </div>
            <form class="d-flex align-items-center mx-auto w-50">
                <div class="input-group ">
                    <div class="position-relative w-100">
                        <input class="form-control bg-transparent w-100 py-3 ps-4 pe-5" type="text"
                               placeholder="Tìm sản phẩm ..." aria-label="Tìm sản phẩm ..." aria-describedby="basic-addon2">
                        <button type="submit"
                                class="btn btn-light py-2 px-3 position-absolute top-0 end-0 mt-2 me-2">
                            Tìm kiếm
                        </button>
                    </div>
                    
                </div>


            </form>
            <div class="h-100 d-lg-inline-flex align-items-center d-none">
                @*<a class="btn btn-square rounded-circle bg-light text-primary me-2" href="">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="btn btn-square rounded-circle bg-light text-primary me-2" href="">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="btn btn-square rounded-circle bg-light text-primary me-0" href="">
                        <i class="fab fa-linkedin-in"></i>
                    </a>*@
               @{ 
                   Html.RenderAction("_CartHeader", "Cart");
               }


            </div>

            @if (HttpContext.Current.User.Identity.IsAuthenticated)
            {
                <div class="d-flex justify-content-center align-items-center" id="login">
                    <div class="dropdown">
                        <button class="btn  dropdown-toggle" type="button" id="dropdownMenuAccount" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="">
                                <img src="https://bootdey.com/img/Content/avatar/avatar5.png" class="avatar-md avatar rounded-circle" alt="Hình avatar">
                            </span>

                        </button>
                        <ul class="dropdown-menu w-215" aria-labelledby="dropdownMenuAccount">

                            <!--<li>
                                <a class="dropdown-item py-1 d-inline-flex" href="../pages/registered_users">

                                    <span class="material-symbols-rounded">
                                        person_pin
                                    </span>

                                    <span class="d-block m-l-10 ">Người dùng đăng ký</span>
                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item d-inline-flex  py-1" href="../pages/schedule_tutors">
                                    <span class="material-symbols-rounded">
                                        calendar_month
                                    </span>
                                    <span class=" d-block m-l-10">Quản lí lịch dạy</span>
                                </a>
                            <li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>



                            <li>
                                <a class="dropdown-item d-inline-flex py-1" href="../pages/registered_tutors">

                                    <span class="material-symbols-rounded">
                                        school
                                    </span>-->
                                    <!-- <img src="../public/images/icons/tuition_60px.png" class="w-20" alt="" srcset=""> -->

                                    <!--<span class="d-block m-l-10">Gia sư đã đăng ký</span>
                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item  d-inline-flex py-1" href="../pages/schedule_user">
                                    <span class="material-symbols-rounded">
                                        today
                                    </span>-->
                                    <!-- <img src="../public/images/icons/schedule_48px.png" class="w-24" alt="" srcset=""> -->

                                    <!--<span class="d-block m-l-10">Lịch học của bạn</span>
                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item d-inline-flex py-1" href="#">
                                    <span class="material-symbols-rounded text-danger">
                                        favorite
                                    </span>
                                    <span class="d-block m-l-10">Gia sư đã lưu</span>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>-->




                            <li>
                                <a class="dropdown-item d-inline-flex py-1" href="#">
                                    <span class="material-symbols-rounded">
                                        manage_accounts
                                    </span>
                                    <span class="d-block m-l-10">Cài đặt tài khoản</span>
                                </a>
                            </li>

                            <li>
                                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                {
                                    @Html.AntiForgeryToken()

                                    <a class="dropdown-item d-inline-flex logout py-1" href="javascript:document.getElementById('logoutForm').submit()">
                                        <span class="material-symbols-rounded">
                                            logout
                                        </span>
                                        <span class="d-block m-l-10">
                                            Đăng xuất
                                        </span>
                                    </a>

                                }

                            </li>
                        </ul>
                    </div>
                    <span class="font-weight-600 d-md-block d-none">
                        @Session["FullName"]
                    </span>

                </div>
            }

            else
            {
                <div class="d-block" id="signup-signin">
                    @Html.ActionLink("Đăng nhập/Đăng kí", "Login", "Account", null, new { @style = "cursor: pointer" })


                </div>
            }


        </div>
    </nav>
    @RenderSection("intro", required: false)
    <!-- FAQs Start -->
    @*body*@
    @RenderBody()
    @*end body*@
    <!-- Footer Start -->
    <div class="container-fluid footer mt-5 pt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-md-6">
                    <h1 class="text-primary mb-4">
                        <img class="img-fluid me-2" src="img/icon-1.png" alt=""
                             style="width: 45px;">Berry Shop
                    </h1>
                    <span>
                        Hãy cùng Berry Shop khám phá những sản phẩm theo trend mới nhất. Berry Shop luôn cập
                        nhật các mẫu sản phẩm mới nhất và theo các trend trên mọi nền tảng mạng xã hội.
                    </span>
                </div>
                <div class="col-md-6">
                    <h5 class="mb-4">Hỗ trợ</h5>
                    <p>Sẳn sàng hỗ trợ bạn 24/7.</p>
                    <div class="position-relative">
                        <input class="form-control bg-transparent w-100 py-3 ps-4 pe-5" type="text"
                               placeholder="Email của bạn">
                        <button type="button"
                                class="btn btn-primary py-2 px-3 position-absolute top-0 end-0 mt-2 me-2">
                            Gửi hỗ trơ
                        </button>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5 class="mb-4">Liên hệ</h5>
                    <p><i class="fa fa-map-marker-alt me-3"></i>356A, Long Hưng A, Lấp vò, Đồng Tháp</p>
                    <p><i class="fa fa-phone-alt me-3"></i>038 1256 214</p>
                    <p><i class="fa fa-envelope me-3"></i>hotro@gmail.com</p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5 class="mb-4">Dịch vụ</h5>
                    <a class="btn btn-link" href="">Đặt hàng</a>
                    <a class="btn btn-link" href="">Thanh toán</a>
                    <a class="btn btn-link" href="">Giao hàng</a>
                    <a class="btn btn-link" href="">Đổi / Trả</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5 class="mb-4">Thông tin thêm</h5>
                    <a class="btn btn-link" href="">Về shop</a>
                    <a class="btn btn-link" href="">Liên hệ Shop</a>
                    <a class="btn btn-link" href="">Dịch vụ Shop</a>
                    <a class="btn btn-link" href="">Điều khoản và chính sách bảo mật</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5 class="mb-4">Mạng xã hội</h5>
                    <div class="d-flex">
                        <a class="btn btn-square rounded-circle me-1" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square rounded-circle me-1" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square rounded-circle me-1" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-square rounded-circle me-1" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a href="#">berryshop.com.vn</a>, All Right Reserved.
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top">
        <i class="bi bi-arrow-up"></i>
    </a>

    <!-- JavaScript Libraries -->
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/wow/wow.min.js"></script>
    <script src="~/Scripts/easing/easing.min.js"></script>
    <script src="~/Scripts/waypoints/waypoints.min.js"></script>
    <script src="~/Scripts/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/Scripts/counterup/counterup.min.js"></script>

    <!-- Template Javascript -->
    <script src="~/Scripts/main.js"></script>
    @RenderSection("embeddedScript", required: false)
    @RenderSection("scripts", required: false)

</body>
</html>